img {
  width: 500px;
  border: purple 2px dotted;;
}
body {
  background color: wheat;
}
h1 {
  color: salmon;
  text-decoration: wavy 8px brown underlines;
  text-align: center;
}
h2 {
  display: flex;
  justify-content: center;
}
