img {
  width: 500px;
  border: purple 2px dotted;;
}
body {
  background color: wheat;
}
h1 {
  color: salmon;
  text-decoration: wavy 8px brown underlines;
  text-align: center;
}
h2 {
  display: flex;
  justify-content: center;
}
h3 {
  display: flex;
  justify-content: center;
}
h4 {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: salmon;
  text-decoration: wavy 8px brown underlines;
  text-align: center;
}
nav {
  gap: 0
}
