h1 {
  color: salmon;
  text-decoration: wavy 8px brown underlines;
  text-align: center;
}
h3 {
  display: flex;
  justify-content: center;
}
h4 {
  display: flex;
  justify-content: center;
}
body {
  background color: wheat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
